html,
body {
    min-height: 100%;
    color: #1f2937;
    background-color: #fef3c7;
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    width: 0.618rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
    background-color: #fef3c7;
}

a {
    color: #928fb7;
}

header#titular {
    min-height: 90vh;
    background-color: #fef3c7;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-size: cover;
    background-image: url("imgs/litio.jpg");
    /* Uso una imagen cuadrada para pantallas más angosta*/
}

header#titular div.container {
    height: 90vh; /*  Misma altura que el header */
}

p {
    text-align: justify;
}

.bg-primary {
    background-color: #fef3c7 !important;
}

body {
    text-align: center;
    font-family: "Roboto Slab", serif;
    background-color: #fef3c7;
    color: #1f2937;
}

header.titulo {
    background-image: url("imgs/hero-shot.png");
    background-size: 100% auto;
    min-height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 800;
}
h2 {
    font-weight: 400;
}
h4 {
    font-weight: 600;
}
h5 {
    font-weight: 300;
}

header .texto {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 13rem;
}

#problemaConstitucionalScroll {
    display: none;
}

@media (min-width: 768px) {
    header .texto {
        top: 18rem;
    }
    #problemaConstitucionalScroll {
        display: none;
    }
}
@media (min-width: 820px) {
    header .texto {
        top: 24rem;
    }
    #problemaConstitucionalScroll {
        display: none;
    }
}
@media (min-width: 992px) {
    header .texto {
        top: 24rem;
    }
    #problemaConstitucionalScroll {
        display: none;
    }
}
@media (min-width: 1200px) {
    header .texto {
        top: 34rem;
    }
    #problemaConstitucionalScroll {
        display: block;
    }
    #problemaConstitucionalCarrusel {
        display: none;
    }
}

main {
    width: 100%;
    max-width: 100%;
    text-align: left;
}
main h3 {
    text-align: left;
}

.card {
    border: none;
}

#problemaConstitucionalScroll .pastillas {
    padding-top: 300px;
}

.hide {
    display: none;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: #1f2937;
}

.carousel-indicators li {
    background-color: #1f2937;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 40px;
    color: #1f2937;
    margin-left: 4rem;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 40px;
    color: #1f2937;
    margin-left: -8rem;
}
